body {
  background-color: black; /* sets background color to black */
}

#ball {
  background-color: orange; /* sets background color to orange */
  border-radius: 50%; /* makes the ball round */
  width: 50px; /* sets the width of the ball to 50px */
  height: 50px; /* sets the height of the ball to 50px */
  position: relative; /* sets the position of the ball to relative */
}
